version: '3.8'
services:
  quizzes:
    image: quizzes-api
    container_name: kafoor-quizzes-api
    extra_hosts:
      - "host.docker.internal:host-gateway"
    build: .
    ports:
      - "${SPRING_PORT:-8082}:8082"
      - "${SOCKET_PORT:-8083}:8083"  
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      ACCESS_SECRET: ${ACCESS_SECRET}